# 1) Introduction

You'll find the ability to create data science projects useful in several different contexts:

* Projects help you build a portfolio, which is critical to finding a job as a data analyst or scientist.
* Working on projects helps you learn new skills and reinforce existing concepts.
* Most "real-world" data science and analysis work consists of developing internal projects.
* Projects allow you to investigate interesting phenomena and satisfy your curiosity.

In this lesson, we'll walk through the first part of a complete data science project, including how to acquire the raw data. The project focuses on exploring and analyzing a dataset. We'll develop our data 
cleaning and storytelling skills, which enables us to build complete projects on our own.

The first step in creating a project is to *decide on a topic*. You want the topic to be something you're interested in and motivated to explore. 

Here are two ways to find a good topic:

* Think about what sectors or angles you're really interested in, then find data sets relating to those sectors.
* Review several datasets and find one that seems interesting enough to explore.

Whichever approach you take, you can start your search at these sites:

* [Data.gov](https://data.gov/) - A directory of USA government data downloads

* [/r/datasets](https://www.reddit.com/r/datasets/) - A subreddit that has hundreds of interesting datasets

* [Awesome datasets](https://github.com/awesomedata/awesome-public-datasets) - A list of datasets hosted on GitHub

* [rs.io](https://rs.io/100-interesting-data-sets-for-statistics/) - A great blog post with hundreds of interesting datasets

For the purposes of this project, we'll be using data about **New York City public schools**, which can be found [here](https://data.cityofnewyork.us/browse?category=Education).

# 2) Finding All of the Relevant Datasets

One of the most controversial issues in the U.S. educational system is the efficacy of standardized tests and whether they're unfair to certain groups. Given our prior knowledge of this topic, investigating the correlations between **SAT scores** and demographics might be an interesting angle to take. We could correlate SAT scores with factors like race, gender, income, and more.

The SAT, or Scholastic Aptitude Test, is an exam that U.S. high school students take before applying to college. Colleges take the test scores into account when deciding who to admit, so it's important to perform well.

The test consists of three sections, each of which has 800 possible points. The combined score is out of 2,400 possible points (while this number has changed a few times, the dataset for our project is based on 2,400 total points). Organizations often rank high schools by their average **SAT scores**. The scores are also considered a measure of overall school district quality.

New York City makes its data on high school [SAT scores available onlin](https://data.cityofnewyork.us/Education/2012-SAT-Results/f9bf-2cp4/about_data), as well as the [demographics for each high school](https://data.cityofnewyork.us/Education/2014-2015-DOE-High-School-Directory/n3p6-zve2/about_data). The first few rows of the SAT data look like this:

![Alt text](https://s3.amazonaws.com/dq-content/136/sat.png)

Unfortunately, combining both of the datasets won't give us all of the demographic information we want to use. We'll need to supplement our data with other sources to do our full analysis.

The same website has several related datasets covering demographic information and test scores. Here are the links to all of the datasets we'll be using:

* [SAT scores by school](https://data.cityofnewyork.us/Education/2012-SAT-Results/f9bf-2cp4) - SAT scores for each high school in New York City

* [School attendance](https://data.cityofnewyork.us/Education/2010-2011-School-Attendance-and-Enrollment-Statist/7z8d-msnt/about_data) - Attendance information for each school in New York City

* [Class size](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3/about_data) - Information on class size for each school

* [AP test results](https://data.cityofnewyork.us/Education/2010-AP-College-Board-School-Level-Results/itfs-ms3e) - Advanced Placement (AP) exam results for each high school (passing an optional AP exam in a particular subject can earn a student college credit in that subject)

* [Graduation outcomes](https://data.cityofnewyork.us/login) - The percentage of students who graduated, and other outcome information

* [Demographics](https://data.cityofnewyork.us/Education/2006-2012-School-Demographics-and-Accountability-S/ihfw-zy9j/about_data) - Demographic information for each school

* [School survey](https://data.cityofnewyork.us/Education/2011-NYC-School-Survey/mnz3-dyi8/about_data) - Surveys of parents, teachers, and students at each school

All of these datasets are interrelated. We'll need to combine them into a single dataset before we can find correlations.

# 3) Finding Background Information

Before we move into coding, we'll need to do some background research. A thorough understanding of the data helps us avoid costly mistakes, such as thinking that a column represents something other than what it does. Background research gives us a better understanding of how to combine and analyze the data.

In this case, we'll want to research:

* New York City
* The SAT
* Schools in New York City
* Our data

We can learn a few different things from these resources. For example:

* Only high school students take the SAT, so we'll want to focus on **high schools**.
* New York City is made up of **five boroughs**, which are essentially distinct regions.
* New York City schools fall within several different school districts, each of which can contain dozens of schools.
* Our datasets include several different types of schools. We'll need to clean them so that we can focus on high schools only.
* Each school in New York City has a unique code called a DBN or district borough number.
* Aggregating data by district allows us to use the district mapping data to plot district-by-district differences.

# 4) Reading in the Data

Here are all of the files in the folder:

* ap_2010.csv - Data on [AP test results](https://data.cityofnewyork.us/Education/2010-AP-College-Board-School-Level-Results/itfs-ms3e/about_data)

* class_size.csv - Data on [class size](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3/about_data)

* demographics.csv - Data on [demographics](https://data.cityofnewyork.us/Education/2006-2012-School-Demographics-and-Accountability-S/ihfw-zy9j/about_data)

* graduation.csv - Data on [graduation outcomes](https://data.cityofnewyork.us/Education/Graduation-Outcomes-Classes-Of-2005-2010-School-Le/vh2h-md7a)

* hs_directory.csv - A directory of [High schools](https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2)

* sat_results.csv - Data on [SAT scores](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4)

* survey_all.txt - Data on [surveys](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) from all schools

* survey_d75.txt - Data on [surveys](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) from New York City district 75

## Instructions

* Read each of the files in the list `data_files` into a pandas dataframe using the pandas.read_csv() function.

* Add each of the dataframes to the dictionary `data`, using the base of the filename as the key. For example, you'd enter `ap_2010` for the file `ap_2010.csv`.

* Afterwards, data should have the following keys:

    ``ap_2010
    class_size
    demographics
    graduation
    hs_directory
    sat_results``

In addition, each key in `data` should have the corresponding dataframe as its value.

In [1]:
import pandas as pd



data_files = [
"https://raw.githubusercontent.com/TomazFilgueira/Dq_Datascientist/refs/heads/main/04_Data_Cleaning/03_Data_Cleaning_Walktrough/data/ap_2010.csv",
"https://raw.githubusercontent.com/TomazFilgueira/Dq_Datascientist/refs/heads/main/04_Data_Cleaning/03_Data_Cleaning_Walktrough/data/class_size.csv",
"https://raw.githubusercontent.com/TomazFilgueira/Dq_Datascientist/refs/heads/main/04_Data_Cleaning/03_Data_Cleaning_Walktrough/data/demographics.csv",
"https://raw.githubusercontent.com/TomazFilgueira/Dq_Datascientist/refs/heads/main/04_Data_Cleaning/03_Data_Cleaning_Walktrough/data/graduation.csv",
"https://raw.githubusercontent.com/TomazFilgueira/Dq_Datascientist/refs/heads/main/04_Data_Cleaning/03_Data_Cleaning_Walktrough/data/hs_directory.csv",
"https://raw.githubusercontent.com/TomazFilgueira/Dq_Datascientist/refs/heads/main/04_Data_Cleaning/03_Data_Cleaning_Walktrough/data/sat_results.csv",
]
data = {}

for d in data_files:
    file = pd.read_csv(d)
    #get "name" without .csv
    name = d.rsplit('data/')[1]
    name = name.replace(".csv", "")
    data[name]=file
    
data

{'ap_2010':         DBN                                         SchoolName  \
 0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
 1    01M450                             EAST SIDE COMMUNITY HS
 2    01M515                                LOWER EASTSIDE PREP
 3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
 4    02M296              High School of Hospitality Management
 ..      ...                                                ...
 253  31R605                         STATEN ISLAND TECHNICAL HS
 254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
 255  32K552                          Academy of Urban Planning
 256  32K554               All City Leadership Secondary School
 257  32K556  Bushwick Leaders High School for Academic Exce...

      AP Test Takers   Total Exams Taken  Number of Exams with scores 3 4 or 5
 0               39.0               49.0                                  10.0
 1               19.0               21.0                                   NaN
 2               24.0               26.0                                  24.0
 3              255.0              377.0                                 191.0
 4                NaN                NaN                                   NaN
 ..               ...                ...                                   ...
 253            528.0              905.0                                 809.0
 254             47.0               64.0                                  13.0
 255             76.0              100.0                                  10.0
 256              7.0                8.0                                   NaN
 257             34.0               35.0                                  18.0

 [258 rows x 5 columns],
 'class_size':        CSD BOROUGH SCHOOL CODE                     SCHOOL NAME GRADE   \
 0        1       M        M015       P.S. 015 Roberto Clemente     0K
 1        1       M        M015       P.S. 015 Roberto Clemente     0K
 2        1       M        M015       P.S. 015 Roberto Clemente     01
 3        1       M        M015       P.S. 015 Roberto Clemente     01
 4        1       M        M015       P.S. 015 Roberto Clemente     02
 ...    ...     ...         ...                             ...    ...
 27606   32       K        K564  Bushwick Community High School  09-12
 27607   32       K        K564  Bushwick Community High School  09-12
 27608   32       K        K564  Bushwick Community High School  09-12
 27609   32       K        K564  Bushwick Community High School  09-12
 27610   32       K        K564  Bushwick Community High School    NaN

       PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
 0           GEN ED                                    -
 1              CTT                                    -
 2           GEN ED                                    -
 3              CTT                                    -
 4           GEN ED                                    -
 ...            ...                                  ...
 27606       GEN ED                       SOCIAL STUDIES
 27607       GEN ED                       SOCIAL STUDIES
 27608       GEN ED                       SOCIAL STUDIES
 27609          CTT                                 MATH
 27610          NaN                                  NaN

       CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
 0                                       -                           -
 1                                       -                           -
 2                                       -                           -
 3                                       -                           -
 4                                       -                           -
 ...                                   ...                         ...
 27606             US History & Government                           -
 27607                           Economics                           -
 27608         Participation in Government                           -
 27609                  Integrated Algebra                           -
 27610                                 NaN                         NaN

        NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
 0                                   19.0                 1.0
 1                                   21.0                 1.0
 2                                   17.0                 1.0
 3                                   17.0                 1.0
 4                                   15.0                 1.0
 ...                                  ...                 ...
 27606                              256.0                10.0
 27607                               65.0                 2.0
 27608                               53.0                 2.0
 27609                               50.0                 2.0
 27610                                NaN                 NaN

        AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
 0                    19.0                    19.0                   19.0
 1                    21.0                    21.0                   21.0
 2                    17.0                    17.0                   17.0
 3                    17.0                    17.0                   17.0
 4                    15.0                    15.0                   15.0
 ...                   ...                     ...                    ...
 27606                25.6                    15.0                   35.0
 27607                32.5                    32.0                   33.0
 27608                26.5                    25.0                   28.0
 27609                25.0                    25.0                   25.0
 27610                 NaN                     NaN                    NaN

       DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
 0             ATS                             NaN
 1             ATS                             NaN
 2             ATS                             NaN
 3             ATS                             NaN
 4             ATS                             NaN
 ...           ...                             ...
 27606       STARS                             NaN
 27607       STARS                             NaN
 27608       STARS                             NaN
 27609       STARS                             NaN
 27610         NaN                            17.1

 [27611 rows x 16 columns],
 'demographics':           DBN                                              Name  schoolyear  \
 0      01M015                         P.S. 015 ROBERTO CLEMENTE    20052006
 1      01M015                         P.S. 015 ROBERTO CLEMENTE    20062007
 2      01M015                         P.S. 015 ROBERTO CLEMENTE    20072008
 3      01M015                         P.S. 015 ROBERTO CLEMENTE    20082009
 4      01M015                         P.S. 015 ROBERTO CLEMENTE    20092010
 ...       ...                                               ...         ...
 10070  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20072008
 10071  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20082009
 10072  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20092010
 10073  32K564                    BUSHWICK COMMUNITY HIGH SCHOOL    20102011
 10074  32K564  BUSHWICK COMMUNITY HIGH SCHOOL                      20112012

       fl_percent  frl_percent  total_enrollment  prek     k grade1 grade2  \
 0           89.4          NaN               281    15    36     40     33
 1           89.4          NaN               243    15    29     39     38
 2           89.4          NaN               261    18    43     39     36
 3           89.4          NaN               252    17    37     44     32
 4                        96.5               208    16    40     28     32
 ...          ...          ...               ...   ...   ...    ...    ...
 10070       85.6          NaN               355   NaN   NaN    NaN    NaN
 10071       65.2          NaN               383   NaN   NaN    NaN    NaN
 10072                    89.2               395   NaN   NaN    NaN    NaN
 10073                    88.2               420   NaN   NaN    NaN    NaN
 10074        NaN         81.8               382

        ... black_num black_per hispanic_num hispanic_per white_num white_per  \
 0      ...        74      26.3          189         67.3         5       1.8
 1      ...        68      28.0          153         63.0         4       1.6
 2      ...        77      29.5          157         60.2         7       2.7
 3      ...        75      29.8          149         59.1         7       2.8
 4      ...        67      32.2          118         56.7         6       2.9
 ...    ...       ...       ...          ...          ...       ...       ...
 10070  ...       151      42.5          198         55.8         5       1.4
 10071  ...       132      34.5          245         64.0         2       0.5
 10072  ...       146      37.0          242         61.3         3       0.8
 10073  ...       166      39.5          242         57.6         8       1.9
 10074  ...       137      35.9          235         61.5         7       1.8

       male_num male_per female_num female_per
 0        158.0     56.2      123.0       43.8
 1        140.0     57.6      103.0       42.4
 2        143.0     54.8      118.0       45.2
 3        149.0     59.1      103.0       40.9
 4        124.0     59.6       84.0       40.4
 ...        ...      ...        ...        ...
 10070    181.0     51.0      174.0       49.0
 10071    206.0     53.8      177.0       46.2
 10072    199.0     50.4      196.0       49.6
 10073    209.0     49.8      211.0       50.2
 10074    169.0     44.2      213.0       55.8

 [10075 rows x 38 columns],
 'graduation':         Demographic     DBN                            School Name    Cohort  \
 0      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
 1      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
 2      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
 3      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
 4      Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug
 ...             ...     ...                                    ...       ...
 25091          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2003
 25092          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2004
 25093          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2005
 25094          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL      2006
 25095          Male  32K564         BUSHWICK COMMUNITY HIGH SCHOOL  2006 Aug

        Total Cohort Total Grads - n Total Grads - % of cohort  \
 0                 5               s                         s
 1                55              37                     67.3%
 2                64              43                     67.2%
 3                78              43                     55.1%
 4                78              44                     56.4%
 ...             ...             ...                       ...
 25091            65               1                      1.5%
 25092            64               2                      3.1%
 25093            79               3                      3.8%
 25094            57               4                        7%
 25095            57               4                        7%

       Total Regents - n Total Regents - % of cohort  \
 0                     s                           s
 1                    17                       30.9%
 2                    27                       42.2%
 3                    36                       46.2%
 4                    37                       47.4%
 ...                 ...                         ...
 25091                 0                          0%
 25092                 0                          0%
 25093                 1                        1.3%
 25094                 2                        3.5%
 25095                 2                        3.5%

       Total Regents - % of grads  ... Regents w/o Advanced - n  \
 0                              s  ...                        s
 1                          45.9%  ...                       17
 2                          62.8%  ...                       27
 3                          83.7%  ...                       36
 4                          84.1%  ...                       37
 ...                          ...  ...                      ...
 25091                         0%  ...                        0
 25092                         0%  ...                        0
 25093                      33.3%  ...                        1
 25094                        50%  ...                        2
 25095                        50%  ...                        2

       Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
 0                                      s                                 s
 1                                  30.9%                             45.9%
 2                                  42.2%                             62.8%
 3                                  46.2%                             83.7%
 4                                  47.4%                             84.1%
 ...                                  ...                               ...
 25091                                 0%                                0%
 25092                                 0%                                0%
 25093                               1.3%                             33.3%
 25094                               3.5%                               50%
 25095                               3.5%                               50%

       Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
 0             s                   s                    s                  s
 1            20               36.4%                54.1%                 15
 2            16                 25%  37.200000000000003%                  9
 3             7                  9%                16.3%                 16
 4             7                  9%                15.9%                 15
 ...         ...                 ...                  ...                ...
 25091         1                1.5%                 100%               44.0
 25092         2                3.1%                 100%               38.0
 25093         2                2.5%                66.7%               46.0
 25094         2                3.5%                  50%               34.0
 25095         2                3.5%                  50%               34.0

       Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
 0                                s               s                         s
 1                            27.3%               3                      5.5%
 2                            14.1%               9                     14.1%
 3                            20.5%              11                     14.1%
 4                            19.2%              11                     14.1%
 ...                            ...             ...                       ...
 25091                        67.7%            20.0                     30.8%
 25092                        59.4%            22.0                     34.4%
 25093                        58.2%            28.0                     35.4%
 25094                        59.6%            17.0                     29.8%
 25095                        59.6%            17.0                     29.8%

 [25096 rows x 23 columns],
 'hs_directory':         dbn                                        school_name    borough  \
 0    27Q260          Frederick Douglass Academy VI High School     Queens
 1    21K559        Life Academy High School for Film and Music   Brooklyn
 2    16K393     Frederick Douglass Academy IV Secondary School   Brooklyn
 3    08X305                               Pablo Neruda Academy      Bronx
 4    03M485  Fiorello H. LaGuardia High School of Music & A...  Manhattan
 ..      ...                                                ...        ...
 430  02M300  Urban Assembly School of Design and Constructi...  Manhattan
 431  09X412                      Bronx High School of Business      Bronx
 432  32K549                 Bushwick School for Social Justice   Brooklyn
 433  02M407              Institute for Collaborative Education  Manhattan
 434  21K344      Rachel Carson High School for Coastal Studies   Brooklyn

     building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
 0            Q465  718-471-2154  718-471-2890             9.0              12
 1            K400  718-333-7750  718-333-7775             9.0              12
 2            K026  718-574-2820  718-574-2821             9.0              12
 3            X450  718-824-1682  718-824-1663             9.0              12
 4            M485  212-496-0700  212-724-5748             9.0              12
 ..            ...           ...           ...             ...             ...
 430          M535  212-586-0981  212-586-1731             9.0              12
 431          X410  718-410-4060  718-992-5760             9.0              12
 432          K480  718-381-7100  718-418-0192             9.0              12
 433          M475  212-475-7972  212-475-0459             6.0              12
 434          K303  718-265-0329  718-372-2514             9.0              12

      expgrade_span_min  expgrade_span_max  ... priority08 priority09  \
 0                  NaN                NaN  ...        NaN        NaN
 1                  NaN                NaN  ...        NaN        NaN
 2                  NaN                NaN  ...        NaN        NaN
 3                  NaN                NaN  ...        NaN        NaN
 4                  NaN                NaN  ...        NaN        NaN
 ..                 ...                ...  ...        ...        ...
 430                NaN                NaN  ...        NaN        NaN
 431                NaN                NaN  ...        NaN        NaN
 432                NaN                NaN  ...        NaN        NaN
 433                NaN                NaN  ...        NaN        NaN
 434                NaN                NaN  ...        NaN        NaN

     priority10                                         Location 1  \
 0          NaN  8 21 Bay 25 Street\nFar Rockaway, NY 11691\n(4...
 1          NaN  2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...
 2          NaN  1014 Lafayette Avenue\nBrooklyn, NY 11221\n(40...
 3          NaN  1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...
 4          NaN  100 Amsterdam Avenue\nNew York, NY 10023\n(40....
 ..         ...                                                ...
 430        NaN  525 West 50Th Street\nNew York, NY 10019\n(40....
 431        NaN  240 East 172 Street\nBronx, NY 10457\n(40.8403...
 432        NaN  400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...
 433        NaN  345 East 15Th Street\nNew York, NY 10003\n(40....
 434        NaN  521 West Avenue\nBrooklyn, NY 11224\n(40.58211...

     Community Board  Council District Census Tract        BIN           BBL  \
 0              14.0              31.0     100802.0  4300730.0  4.157360e+09
 1              13.0              47.0        306.0  3186454.0  3.068830e+09
 2               3.0              36.0        291.0  3393805.0  3.016160e+09
 3               9.0              18.0         16.0  2022205.0  2.036040e+09
 4               7.0               6.0        151.0  1030341.0  1.011560e+09
 ..              ...               ...          ...        ...           ...
 430             4.0               3.0        135.0  1083802.0  1.010790e+09
 431             4.0              16.0        225.0  2007806.0  2.028170e+09

# 5 Exploring the SAT Data

Let's explore `sat_results` to see what we can discover. Exploring the dataframe helps us understand the structure of the data and make it easier for us to analyze it.

Display the first five rows of the `SAT` scores data.

Use the key `sat_results` to access the SAT scores dataframe stored in the dictionary data.

In [2]:
data['sat_results'].head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

# 6) Exploring the remaining data

We can make a few observations based on this output:

* The `DBN` appears to be a unique ID for each school.

* We can tell from the first **few rows of names** that we only have data about high schools.

* There's only a single row for each high school, so each **DBN is uniqu**e in the SAT data.

* We may eventually want to combine the three columns that contain SAT scores -- `SAT Critical Reading Avg. Score`, `SAT Math Avg. Score`, and `SAT Writing Avg. Score` -- into a **single column** to make the scores easier to analyze.

Given these observations, let's explore the other datasets to see if we can gain any insight into how to combine them.

Loop through each `key` in data. For each key: Display the **first five rows** of the dataframe associated with the key.

In [8]:
for key in data:
    print("Key: ", key)
    print(data[key].head())

Key:  ap_2010
      DBN                             SchoolName  AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.             39.0
1  01M450                 EAST SIDE COMMUNITY HS             19.0
2  01M515                    LOWER EASTSIDE PREP             24.0
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH            255.0
4  02M296  High School of Hospitality Management              NaN

   Total Exams Taken  Number of Exams with scores 3 4 or 5
0               49.0                                  10.0
1               21.0                                   NaN
2               26.0                                  24.0
3              377.0                                 191.0
4                NaN                                   NaN
Key:  class_size
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN
Key:  demographics
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2  ... black_num black_per  \
0               281   15  36     40     33  ...        74      26.3
1               243   15  29     39     38  ...        68      28.0
2               261   18  43     39     36  ...        77      29.5
3               252   17  37     44     32  ...        75      29.8
4               208   16  40     28     32  ...        67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
Key:  graduation
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27
3            78              43                     55.1%                36
4            78              44                     56.4%                37

  Total Regents - % of cohort Total Regents - % of grads  ...  \
0                           s                          s  ...
1                       30.9%                      45.9%  ...
2                       42.2%                      62.8%  ...
3                       46.2%                      83.7%  ...
4                       47.4%                      84.1%  ...

  Regents w/o Advanced - n Regents w/o Advanced - % of cohort  \
0                        s                                  s
1                       17                              30.9%
2                       27                              42.2%
3                       36                              46.2%
4                       37                              47.4%

  Regents w/o Advanced - % of grads Local - n Local - % of cohort  \
0                                 s         s                   s
1                             45.9%        20               36.4%
2                             62.8%        16                 25%
3                             83.7%         7                  9%
4                             84.1%         7                  9%

    Local - % of grads Still Enrolled - n Still Enrolled - % of cohort  \
0                    s                  s                            s
1                54.1%                 15                        27.3%
2  37.200000000000003%                  9                        14.1%
3                16.3%                 16                        20.5%
4                15.9%                 15                        19.2%

  Dropped Out - n Dropped Out - % of cohort
0               s                         s
1               3                      5.5%
2               9                     14.1%
3              11                     14.1%
4              11                     14.1%

[5 rows x 23 columns]
Key:  hs_directory
      dbn                                        school_name    borough  \
0  27Q260          Frederick Douglass Academy VI High School     Queens
1  21K559        Life Academy High School for Film and Music   Brooklyn
2  16K393     Frederick Douglass Academy IV Secondary School   Brooklyn
3  08X305                               Pablo Neruda Academy      Bronx
4  03M485  Fiorello H. LaGuardia High School of Music & A...  Manhattan

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          Q465  718-471-2154  718-471-2890             9.0              12
1          K400  718-333-7750  718-333-7775             9.0              12
2          K026  718-574-2820  718-574-2821             9.0              12
3          X450  718-824-1682  718-824-1663             9.0              12
4          M485  212-496-0700  212-724-5748             9.0              12

   expgrade_span_min  expgrade_span_max  ... priority08 priority09 priority10  \
0                NaN                NaN  ...        NaN        NaN        NaN
1                NaN                NaN  ...        NaN        NaN        NaN
2                NaN                NaN  ...        NaN        NaN        NaN
3                NaN                NaN  ...        NaN        NaN        NaN
4                NaN                NaN  ...        NaN        NaN        NaN

                                          Location 1 Community Board  \
0  8 21 Bay 25 Street\nFar Rockaway, NY 11691\n(4...            14.0
1  2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...            13.0
2  1014 Lafayette Avenue\nBrooklyn, NY 11221\n(40...             3.0
3  1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...             9.0
4  100 Amsterdam Avenue\nNew York, NY 10023\n(40....             7.0

   Council District Census Tract        BIN           BBL  \
0              31.0     100802.0  4300730.0  4.157360e+09
1              47.0        306.0  3186454.0  3.068830e+09
2              36.0        291.0  3393805.0  3.016160e+09
3              18.0         16.0  2022205.0  2.036040e+09
4               6.0        151.0  1030341.0  1.011560e+09

                                                 NTA
0  Far Rockaway-Bayswater                        ...
1  Gravesend                                     ...
2  Stuyvesant Heights                            ...
3  Soundview-Castle Hill-Clason Point-Harding Par...
4  Lincoln Square                                ...

[5 rows x 64 columns]
Key:  sat_results
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384